#inputId{
  vertical-align: middle;
  height: 40px;
  width: 700px;
  font-size: 25px;
}

#addButtonId{
  vertical-align: middle;
  height: 40px;
  width: 130px;
  font-size: 25px;
}

.todoListClasst{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.inputForm{
  margin-left: 20%;
  margin-right: 20%;
  height: 60px;
  vertical-align: middle;
  text-align: center;
}

li{
  list-style-type: none;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 30px;
}

#removeButton{
  background-image: url("images/delete.png");
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-position: center;
  height: 30px;
  width: 30px;
}
